.studentDashboard_hero_outer_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: var(--lighter-blue);
}

.studentDashboard_hero_displayArea{
    height: 90%;
    width: 100%;
    margin: 30px;
    border-radius: 30px;
    background-color: #FFFFFF80 ;
    /* background-color: #6b6a7280 ; */
    /* background-color: #2d3a3e; */
}



