* {
  box-sizing: border-box;
  margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&display=swap');
.rightSide {
  width: 100%;
  background-color: pink;
  margin: 0px 0 0 130px;
}
.topButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.begBtn {
  border: 0;
  width: 116px;
  border-radius: 3px 0 0 3px;

  

}
.begBtn:focus{
    background-color:#00BFFF;
}
.intBtn {
  width: 116px;
  border-top: none;
  border-bottom: none;
  border-left: solid lightgrey;
  border-right: solid lightgrey;
}
.intBtn:focus{
    background-color:#00BFFF;
    
}
.advBtn {
  width: 116px;
  border: none;
  border-radius: 0 3px 3px 0;
}
.advBtn:focus{
    background-color:#00BFFF;

}

.rightButton {
  
  margin-right: 246px;
}
.number25 {
  width: 51px;
  border: none;
}
.number25:focus{
    background-color:#00BFFF;
}
.number50 {
  width: 51px;
  border-top: none;
  border-bottom: none;
  border-left: solid lightgrey;
  border-right: solid lightgrey;
}
.number50:focus{
    background-color:#00BFFF;
}
.number100 {
  width: 51px;
  border: none;
}
.number100:focus{
    background-color:#00BFFF;
}
.bottomProjects {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
  height: 100%;
}

.introPic {
  height: 200px;
}
