
.home-feature-column {
  width: 70%;
}

.home-feature-big-img {
  width: 25%;
  padding: 0 22px 80px 22px;
}

.home-feature-title {
  padding-top: 50px;
  padding-bottom: 25px;
  font-size: 42px;
  padding-left: 190px;
  padding-right: 190px;
  text-align: justify;
}
.home-feature-text {
  padding-bottom: 25px;
  font-size: 20px;
  padding-left: 190px;
  /* padding-right: 190px; */
  text-align: justify;
}
.futureBlue {
  color: blue;
}
.home-feature-subtitle {
  padding-top: 50px;
  padding-bottom: 25px;
  font-size: 29px;
  padding-left: 190px;
  padding-right: 190px;
  text-align: justify;
}
.home-feature-bigButtons {
  padding-left: 190px;
}


.roundButton {
  outline-style: initial;
  border-radius: 100px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid #000;
  margin-right: 10px;
  /* justify-content: center; */
}

.home-feature-info {
  font-family: "Open Sans", sans-serif;
}
.home-feature-centre-title {
  font-size: 30px;
  margin-top: 140px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 30px;
}
