.home-feature-column {
  width: 70%;
}

.home-feature-big-img {
  width: 25%;
  padding: 0 22px;
}
.homeSection2Left {
  /* width: 950px; */
}

.home-feature-title {
  font-size: 42px;
  margin-top: 100px;
  text-align: justify;
}
.futureBlue {
  color: blue;
}
.home-feature-text {
  text-align: justify;
  width: 1000px;
  font-size: 20px;
}

.roundButton {
  outline-style: initial;
  border-radius: 100px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid #000;
}

.home-hero-info {
  align-self: flex-start;
  width: 60%;
}

.home-feature-title {
  padding-top: 50px;
  padding-bottom: 25px;
}