.home-hero-image {
  font-family: "Open Sans", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 450px;
}

.home-hero-info {
  align-self: flex-start;
  width: 60%;
}

.home-hero-title {
  padding-top: 50px;
  padding-bottom: 25px;
  font-size: 38px;
  padding-left: 190px;
  padding-right: 150px;
  text-align:left;
}
.futureBlue {

  font-size: 38px;
  color: blue;
}
.home-hero-text {
  padding-bottom: 25px;
  font-size: 20px;
  padding-left: 190px;
  padding-right: 190px;
  text-align: justify;
}
.home-hero-sm-text {
  font-family: "Open Sans", sans-serif;
  font-size: 8px;
  margin-left: 30px;
  margin-top: 5px;
}
.home-hero-actions {
  text-align: center;
  margin-left: 300px;
}
.home-sign-up {
  width: 175px;
}
