.homeSection3 {
    display:flex;
    flex-direction: column;
}

.homeSection3Title {
margin-bottom: 50px;
  font-size: 30px;
  margin-top: 100px;
  text-align: center;
}
.homeSection3Imgs {
    display: flex;
    justify-content: space-around;
}