.homeSection2 {
  display: flex;
  flex-direction: row;
}
.homeSection2Left {
  /* width: 950px; */
}

.homeSection2Title {
  padding: 0px 0px 0px 400px;
  /* width: 1000px; */
  font-size: 42px;
  margin-top: 100px;
  text-align: justify;
}
.futureBlue {
  color: blue;
}
.homeSection2Text {
  text-align: justify;
  padding: 0px 0px 0px 400px;
  width: 1000px;
  font-size: 20px;
}
.homeSection2Title2 {
  padding: 0px 0px 0px 400px;
  /* width: 1000px; */
  font-size: 30px;
  margin-top: 100px;
  text-align: justify;
}
.homeSection2ImageButtons {
  display: flex;
  flex-direction: row;
  /* align-self: flex-end; */
  /* justify-content: flex-end; */
  padding: 20px 0px 0px 400px;
  /* width: 400px; */
  cursor: pointer;
}

.homeSection2Right {
  /* justify-content: start; */
  /* align-self: flex-end; */
  /* padding: 0px 0px 0px 500px; */
  /* margin-left: 700px; */
  /* font-size: 42px; */
  /* margin-top: 100px; */
  /* text-align: justify; */
  /* width: 50%; */
}
/* .roundButton {
  outline-style: initial;
  border-radius: 100px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: white;
} */
.roundButton1,
.roundButton2,
.roundButton3,
.roundButton4 {
  outline-style: initial;
  border-radius: 100px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid #000;
}
/* .roundButton1.active,
.roundButton2.active,
.roundButton3.active,
.roundButton4.active {
  background-color: #000;
} */
