
/* -------------SIDEBAR OUTER CONTAINER----------------------- */
.sidebar_container{
    height: 100vh;
    height: 100%;
    min-width: 280px;
    width: 30px;
    background-color: var(--darker-blue);
    color: var(--white);
    /* padding:20px 0; */
    position: relative;
}

.sidebar_container.collapsed{
    width: 52px;
    max-width: 52px;
    min-width: 7rem;
}


/* ------------------STUDENT PROFILE PHOTO---------------------------- */
.studentPhoto_container{
    height: 15%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.studentPhoto{
    height: 80%;

}

.sidebar_container.collapsed .studentPhoto{
    height: 65%;
    padding: 0;
}

/* ------------------SIDEBAR BUTTONS---------------------------- */
.sidebar_button{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
    font-weight: bolder;
    padding:12px 0;
    padding-left:20px;
    /* height: 100%; */
    cursor: pointer;    
}

.sidebar_container.collapsed .sidebar_button{
    justify-content: center;
    padding-left: 0;
}

.sidebar_button_clicked{
    background-color: var(--lighter-blue);
    color: grey;
}

.sidebar_button_image{
    width: 40px;
    height: 100%;
}

.sidebar_container.collapsed .sidebar_button_image{
    width: 48px;
}

.sidebar_container.collapsed .sidebar_text{
    display: none;
}

/* ------------------SIDEBAR ARROW BUTTON---------------------------- */
.sidebar_arrow_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 5%;
    
    /* border: 2px solid magenta; */
}

.sidebar_container.collapsed .sidebar_arrow_container{
    /* rotate: 180deg; */
    justify-content: flex-start;
    
}

.sidebar_arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lighter-blue);
    width: 4.5rem;
    height: 4.2rem;
    border-radius: 10px 0 0 10px;
    margin-top: 15px;
    cursor: pointer;
}

.sidebar_container.collapsed .sidebar_arrow{
transform: rotate(180deg);
}

/* ------------------SIDEBAR SETTINGS ICONS---------------------------- */

.sidebar_settings_icons_container{
display: flex;
justify-content: space-around;
align-items: center;
width: 100%;
margin-bottom: 10%;
padding: 0 21px;
position: absolute;
bottom: 0;
font-family: 'Open sans', sans-serif;
font-size: 14px;
font-weight: bolder;
/* border: 2px solid red; */
}

.sidebar_container.collapsed .sidebar_settings_icons_container{
    flex-direction: column;
    gap: 10px;
    margin-bottom: 35%;
    scale: 1.2;

}

.sidebar_settings_icons{
display: flex;
flex-direction: column;
cursor: pointer;
text-decoration: none;
}


.sidebar_settings_icons img{
    height: 15px;
    width: auto;
    object-fit: contain;
    margin-bottom: 5%;
}

.sidebar_container.collapsed p{
    display: none;
}

.sidebar_link{
    text-decoration: none;
    color: var(--white)
}



/* THIS CAN BE REMOVED WHEN JERVIN MERGES HIS CHANGES */
.sidebar_container p{
    margin: 0;
}