*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


:root{
  --main-font-color: #707070;
  --headings-font-color: #6C6C6C;
  --lighter-blue: #B2E4FA;
  --darker-blue: #43C0F6;
  --white: #FFFFFF;

}

/* :root{
  --main-font-color: #fafafa;
  --headings-font-color: #e8e8e8;
  --lighter-blue: #444851;
  --darker-blue: #30343e;
  --white: #30343e;

} */

/* :root{
  --main-font-color: #707070;
  --headings-font-color: #6C6C6C;
  --lighter-blue: #475962;
  --darker-blue: #2d3a3e;
  --white: #2d3a3e;

} */


.dummyNavBar{
  background-color: rgb(221, 193, 242);
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
}




