* {
  box-sizing: border-box;
  margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&display=swap');
.rightSide {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: pink; */
  margin: 10px 170px 80px 130px;
}
.topButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}

.begBtn,.intBtn,.advBtn{
  width: 116px;
  border: none;
}
.begBtn {
  border-radius: 3px 0 0 3px;
}
.begBtn:focus ,.intBtn:focus,.advBtn:focus{
    background-color:#00BFFF;
}
.intBtn {

  border-left: solid lightgrey;
  border-right: solid lightgrey;
}

.advBtn {
  border-radius: 0 3px 3px 0;
}

.number25,.number50,.number100{
  width: 51px;
  border: none;
}

.number50 {
  border-top: none;
  border-bottom: none;
  border-left: solid lightgrey;
  border-right: solid lightgrey;
}
.number25:focus,.number50:focus,.number100:focus{
    background-color:#00BFFF;
}


.bottomRightButton{
  display: flex;
 flex-direction: row;
 justify-content: flex-end;
/* background-color: lightskyblue; */
margin:40px 8px 0 0;
}

.bottomRightButton>button{
  width: 170px;
  font-size: 14px;
  color: white;
  padding: 5px;
  background-color: #E2AC30;
  font-family: 'Open Sans', sans-serif;
  border-style: none;
  border-radius: 6px;
  font-weight: 700;
  position: absolute;
 cursor: pointer;

}


.introLink{
  color: #767676;
  text-decoration: none;
  font-weight: 700;
  
  }
  .projectImage{
      width:330px;
        height:220px;
        margin-top: 30px;
      }
      
      .eachProject >p{
      text-align: center;
      
      }
      .bottomProjects {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* border: 1px solid red; */
        height: 100%;
        /* display: none; */
        
      }
