.studedentDashboard_hero_outer_container{
    background-color: var(--lighter-blue);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.studentDashboard_hero_displayArea{
    background-color: #FFFFFF80 ;
    /* background-color: #6b6a7280 ; */
    height: 90%;
    width: 100%;
    border-radius: 30px;
    margin: 30px;
}

.hero_section_title{
    background-color: red;
    display: inline-block;
    margin:0;
    
}

.hero_section_title > p{
    color: white;
    margin: -4.5px 0;
}


/* span{
    margin: 0;
    padding: 0;
    color: blue;
} */

*{
box-sizing: border-box;
}

