.divContainer{
    /* height: 400px; */
    /* width: 400px; */
    /* background-color: yellow; */
    color: white;
}

.mainHeroSection{
    display: flex;
    height: 88vh;
    background-color: var(--lighter-blue);  
}