.divContainer{
    height: 400px;
    width: 400px;
    background-color: yellow;
    color: white;
}

.mainHeroSection{
    height: 88vh;
    background-color: var(--lighter-blue);
    display: flex;
}